<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>GenServlet</servlet-name>
    <servlet-class>main.java.servlets.ChatServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>main.java.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GenServlet</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>

  <filter>
      <filter-name>authFilter</filter-name>
      <filter-class>main.java.filters.AuthFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Reg</servlet-name>
    <servlet-class>main.java.servlets.RegServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Reg</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>

</web-app>
